EXAMENES MAYO/LMSGI/2024-2025/epena602a/Ejercicio1/catalogo_cd.dtd

<!ELEMENT CATALOGO (CD+)>

<!ELEMENT CD (TITULO, ARTISTA*, PAIS, PRECIO*, DISCOGRAFICA?, AÑO)>
<!ELEMENT PRECIO (#PCDATA)>
<!ATTLIST PRECIO MONEDA (DOLAR | LIBRA | EURO) #IMPLIED>

<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AÑO (#PCDATA)>
<!ELEMENT ARTISTA (#PCDATA)>
<!ELEMENT DISCOGRAFICA (#PCDATA)>